{{#with data}}
<form class="text-center border border-light p-5" action="/tutorials/edit/{{_id}}" method="POST">
    <h1>Edit Course</h1>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Course name" name="title" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" placeholder="Description" name="description">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="text" class="form-control" placeholder="Image Url" value="{{img}}" name="imageUrl">
    </div>
    <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" class="form-control" placeholder="4 weeks" value="{{duration}}" name="duration">
    </div>

    <input type="submit" class="btn btn-primary" value="Edit">
</form>
{{/with}}