<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>Детайли за книгата: </h1>
    <h3>Заглавие: {{title}}</h3>
    <p>Автор: {{author}}</p>
    <p>Описание: {{description}}</p>
    <p>Издателство: {{publisher}}</p>
    <p>Година на издаване: {{year}}</p>
    <br><img src="{{img}}" width="600" height="700" alt="Not loaded image">
</body>

</html>