<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body style="padding-left: 200px;">
    <nav>
        <a href="/catalog">See your todos</a>
        <a href="/create">Create todo</a>
        <a href="/search">Search for a todo</a>
        <a href="/">Home page</a>
    </nav>
    <form action="/edit/{{title}}" method="POST">
        New title: <input type="text" name="title" value="{{title}}"><br><br>
        New description: <textarea name="description">{{description}}</textarea><br><br>
        {{#if isDone}}
        <select name="isDone">
            <option value="true" selected>Done</option>
            <option value="false">Not done</option>
        </select>
        {{else}}
        <select name="isDone">
            <option value="true">Done</option>
            <option selected value="false">Not done</option>
        </select>
        {{/if}}
        <br><br>
        <input type="submit" value="Edit todo">
    </form>
</body>

</html>